#rm-view-content {
    width: 100vw;
}

.result-box {
    margin-right: 40px;
}

.evaluation-section {
    display: flex;
    flex-flow: row;
}

.good-result {
    -webkit-box-shadow: 0px 0px 4px #21de14;
    -moz-box-shadow: 0px 0px 4px #21de14;
    box-shadow: 0px 0px 4px #21de14;
}

.bad-result {
    -webkit-box-shadow: 0px 0px 4px #e30909;
    -moz-box-shadow: 0px 0px 4px #e30909;
    box-shadow: 0px 0px 4px #e30909;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.timing-table-content {
    margin: -14px;
}

#timing-table {
    width: 10vw;
}

.setr-table {
    overflow: hidden;
}

.setr-table .t-head-cell {
    text-align: center;
    background-color: #C5C5C5;
}

.setr-table .t-cell {
    text-align: center;
}