<div id="algorithms-view-content" class="alg-content">

  <div class="container alg-content-row alg-full-size">
    <app-input-box (system)="system = $event" class="alg-content-row"></app-input-box>
  </div>

  <div id="system-conditional-content" *ngIf="system !== undefined">
    <h5>Información general</h5>

    <div class="container alg-content-row">

      <app-result-box [boxId]="'n-box'" [system]="system" [label]="'Cant. de tareas'"
        [value]="system.getN()"></app-result-box>

      <app-result-box [boxId]="'hyperperiod-box'" [system]="system"
        [label]="'Hiperperíodo'" [value]="system.getHyperperiod()"></app-result-box>

      <app-result-box [boxId]="'fu-box'" [system]="system" [label]="'FU'"
        [value]="system.getFU()"></app-result-box>

      <app-result-box [boxId]="'free-slot-box'" [system]="system"
        [label]="'Primera ranura vacía'" [value]="system.getFirstFreeSlot()"></app-result-box>

      <app-result-box [boxId]="'liu-bound-box'" [system]="system" [label]="'Cota de liu'"
        [value]="system.getLiu()" [isValidForCota]="system.isValidForLiu()"></app-result-box>

      <app-result-box [boxId]="'bini-bound-box'" [system]="system" [label]="'Cota de Bini'"
        [value]="system.getBini()" [isValidForCota]="system.isValidForBini()"></app-result-box>
    </div>

    <h5>Tiempos de respuesta</h5>
    <div class="alg-content-row">
      <app-data-table class="container" [tableWidth]="'auto'"
        [headers]="['Tarea', 'Vencimiento']" [rows]="getTaskTiming()"></app-data-table>
    </div>

    <h5>Gráfico</h5>
    <app-evolution-chart [system]="system"></app-evolution-chart>
  </div>

</div>