<div class="sched-chart-container">
    <div class="sched-chart">
        <div class="sched-chart-row" *ngFor="let taskId of taskIds">
            <div class="sched-chart-cell font-weight-bold">{{ taskId }}</div>
            <div class="sched-chart-cell" *ngFor="let isExecute of scheduling.mapping[taskId]" [ngClass]="{
                'sched-chart-executed': isExecute,
                'sched-chart-empty': !isExecute
            }">
                {{ schedule }}
            </div>
        </div>
        <div class="sched-chart-row">
            <div class="sched-chart-cell">&nbsp;</div>
            <div class="sched-chart-cell font-italic font-weight-light" *ngFor="let taskId of scheduling.order">
                <small>{{ taskId }}</small>
            </div>
        </div>
    </div>
</div>