/* Global styles */
.good-result {
    -webkit-box-shadow: 0px 0px 4px #21de14;
    -moz-box-shadow: 0px 0px 4px #21de14;
    box-shadow: 0px 0px 4px #21de14;
}
  
.bad-result {
    -webkit-box-shadow: 0px 0px 4px #e30909;
    -moz-box-shadow: 0px 0px 4px #e30909;
    box-shadow: 0px 0px 4px #e30909;
}